@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Montserrat";
}

a:hover,
button:hover {
  transform: scale(0.99);
}

/*///////// HEADER /////////*/

header {
  background-color: #000;
  color: #fff;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 20px;
  margin-right: 40px;
}

.contact-nav {
  height: 87px;
}

.contact-menu-title {
  font-weight: bold;
  font-size: 1rem;
  margin-top: 5px;
}

.logo-img {
  width: 80px;
  text-align: center;
}

.logo-img:hover {
  transform: scale(1.1);
}

header ul {
  list-style: none;
  margin: 0;
  display: flex;
  align-items: center;
}

.menu-item {
  border-left: solid 1px #fff;
  padding: 0 15px;
  font-size: 1.1rem;
}

.menu-item a {
  text-decoration: none;
  color: #fff;
}

.menu-item:hover {
  border-left: solid 1px #ffad61;
  transform: scale(1.1);
}
.menu-item a:hover {
  color: #ffad61;
  transform: scale(1.1);
}

nav span {
  cursor: pointer;
}

nav span:hover {
  color: #ffad61;
  transform: scale(1.1);
}

.fa-user {
  padding: 0 10px;
}

.enroll-btn {
  width: 150px;
  height: 60px;
  margin-top: 50px;
  margin-bottom: 30px;
  border: none;
  border-radius: 5px;
  background-color: #ffad61;
  font-size: 1.6rem;
  letter-spacing: 1px;
  cursor: pointer;
}

.enroll-btn a {
  color: #fff;
  text-decoration: none;
}

.enroll-btn:hover {
  background-color: #ff9e42;
}

.hamburger-menu {
  display: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.hamburger-menu i {
  margin-left: 15px;
}

.vertical-menu {
  display: none;
  position: absolute;
  background-color: #000;
  border-radius: 10px;
  padding: 20px 0;
  top: 80px;
  left: 25%;
  cursor: pointer;
  height: 300px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.vertical-menu-big {
  display: none;
  transition: all 5s linear;
}

@media (max-width: 992px) {
  .horizontal-menu {
    display: none;
  }
  .hamburger-menu {
    display: flex;
  }
  .vertical-menu-big {
    display: flex;
  }
}

@media (max-width: 576px) {
  .horizontal-menu {
    display: none;
  }
  .vertical-menu-small {
    display: flex;
    left: 0;
    width: 100%;
  }
}

/*///////// HERO /////////*/

.hero {
  background-image: url(./images/soundtrap-d0sXdsCnhF8-unsplash.jpg);
  background-size: 100%;
  height: 650px;
  color: #fff;
  text-align: center;
}

.hero-production {
  background-image: url(./images/frederick-medina-fCRdSjDQ_uk-unsplash.jpg);
  background-size: 100%;
}

.hero-recording {
  background-image: url(./images/techivation-WHTq-xyU40o-unsplash.jpg);
  background-size: 100%;
}

.hero-theory {
  background-image: url(./images/soundtrap-o5X24Q99zFE-unsplash.jpg);
  background-size: 100%;
}

.hero-info {
  text-align: left;
}

.hero-info h1 {
  margin: 0;
  padding: 150px 0 0 40px;
  font-size: 2.6rem;
  color: #ffad61;
}

.hero-info h3 {
  font-size: 1.5rem;
  padding: 60px 0 0 40px;
}

.hero-info p {
  font-size: 1.3rem;
  padding: 0 0 0 40px;
}

.hero .enroll-btn {
  margin-top: 130px;
}

.hero-production {
  height: 650px;
  text-align: center;
}

.hero-production .enroll-btn {
  margin-top: 100px;
}

.hero-production h3,
.hero-production p {
  color: #fff;
}

.hero-recording {
  height: 650px;
  text-align: center;
}

.hero-recording .enroll-btn {
  margin-top: 100px;
}

.hero-recording h3,
.hero-recording p {
  color: #fff;
}

.hero-theory {
  height: 650px;
  text-align: center;
}

.hero-theory .enroll-btn {
  margin-top: 100px;
}

.hero-theory h3,
.hero-theory p {
  color: #fff;
}

@media (max-width: 992px) {
  .hero,
  .hero-production,
  .hero-recording,
  .hero-theory {
    overflow: hidden;
    background-size: 992px;
  }
  .hero .enroll-btn,
  .hero-production .enroll-btn,
  .hero-recording .enroll-btn,
  .hero-theory .enroll-btn {
    margin-top: 80px;
  }
}

@media (max-width: 576px) {
  .hero-info p {
    display: none;
  }
  .hero .enroll-btn,
  .hero-production .enroll-btn,
  .hero-recording .enroll-btn,
  .hero-theory .enroll-btn {
    margin-top: 50px;
  }
}

/*///////// COURSES /////////*/

.courses {
  height: auto;
  background-color: hsl(29, 71%, 90%);
  text-align: center;
}

.cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.course-card {
  width: 300px;
  height: 200px;
  background-color: hsl(29, 71%, 95%);
  border: 4px solid hsl(29, 100%, 69%);
  border-radius: 10px;
  margin-top: 80px;
  box-shadow: 1px 1px 5px #ffad61;
  text-align: center;
  cursor: pointer;
}

.course-card i {
  font-size: 4rem;
  color: #ffad61;
  padding-top: 25px;
}

.course-card h3 {
  padding-top: 10px;
}

.cards a {
  text-decoration: none;
  color: #000;
}

/*///////// PROMO /////////*/

.promo-map {
  height: 450px;
  display: flex;
  justify-content: space-around;
}

.promo h2 {
  color: hsl(29, 100%, 55%);
}

.promo-img img {
  width: 550px;
  border-radius: 10px;
}

@media (max-width: 992px) {
  .promo-map {
    flex-direction: column;
    height: auto;
    padding: 20px;
    align-items: center;
  }
}

/*///////// FORM /////////*/

.btn-primary {
  background-color: #ffad61;
  outline: none;
}

.btn-primary:hover {
  background-color: #ff9e42;
}

.btn-primary:focus {
  background-color: #ff9e42;
}

.contact h4 {
  margin-top: 40px;
  color: #ff9e42;
}

.contact .map h4 {
  color: #000;
}

/*///////// FOOTER /////////*/

footer {
  background-color: #000;
  height: 170px;
  color: #fff;
}

.info-footer {
  color: #999999;
  display: flex;
  justify-content: space-around;
}

.info-footer p {
  font-size: 1.1rem;
  padding: 20px;
}

.social-media {
  width: 50%;
  text-align: center;
  padding-top: 20px;
}

.social-media span {
  font-size: 1.5rem;
  margin-left: 20px;
  padding-top: 25px;
}

.social-media ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.social-media li {
  margin-left: 20px;
}

.social-media i {
  font-size: 2.5rem;
  cursor: pointer;
}

.social-media i:hover {
  color: #fff;
}

footer p {
  text-align: center;
  margin-top: 5px;
}

@media (max-width: 992px) {
  footer p {
    margin-top: 0;
  }
  .info-footer p {
    display: none;
  }
}
